%form-shared {
  text-align: center;
  margin: 0 auto;

  input {
    font-size: 16px;
  }

  label {
    display: inline-block;
    text-align: right;
    margin-right: 0.5em;
    vertical-align: center;
  }

  select {
    display: inline-block;
    color: #444;
    line-height: 1.1;
    padding: .6em 1.4em .5em .8em;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }

  select::-ms-expand {
    display: none;
  }
  
  select:hover {
    border-color: #888;
  }
  
  select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }

  select option {
    font-weight:normal;
  }

  .form__form {
    border: 1px solid black;
  }

  .form__fields {
    border: 1px solid black;
    padding: 10px;
  }

  .form__button-group {
    margin: 20px auto;
  }

  .form__hint {
    font-style: italic;
    font-size: .8rem;
  }

  .required,
  .form__error,
  .form__required,
  .form__input-error,
  .form__input-error-large {
    font-style: italic;
    font-size: .8rem;
    color: red;
  }

  .form__input-error,
  .form__input-error-large {
    margin: 0 auto;
  }

  .form__required {
    vertical-align: super;
  }
}

%buttons-shared {
  .button,
  .form__button-group button {
    margin: 10px auto;
    background-color: $background;
    width: 180px;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
  }
  
  .button:hover,
  .button:focus,
  .form__button-group button:hover,
  .form__button-group button:focus {
    background-color: $buttonHoverColor;
    color: $buttonTextHoverColor;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
    font-weight: 600;
    transition: 0.3s;
    border-radius: 10px;
  }

  .button-small {
    margin: 10px auto;
    background-color: $background;
    width: 100px;
    padding: 3px 5px;
    border-radius: 5px;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5);
  }
  .button-small:hover,
  .button-small:focus {
    background-color: $backgroundItems;
    transition: 0.3s;
  }
}

%bugs-shared {
  .bug__icons {
    height: 40px;
    width: 40px;
    vertical-align: middle;
  }
}