* {
  box-sizing: border-box;
}

html {
  background-color: $background;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: $textColor;
}

a:hover,
a:active {
  color: $textHoverColor;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.App {
  height: 100%;
  margin: 0;
  padding: 0;
}

.section-page {
  text-align: center;
  width: 100%;
}

.error {
  color: red;
}

h1 {
  font-size: 30px;
}

@media (max-width: 400px) {
	.sectionSpacer {
    width: 100%;
    height: 75px;
  }
}

@media (min-width: 401px) {
	.sectionSpacer {
    width: 100%;
    height: 120px;
  }
}