$background: #F2F2F2;
$backgroundToolbar: silver;
$backgroundSideDrawer: white;
$backgroundItems: lightgray;
$backgroundButtons: #D6EAF8 ;

$textColor: black;
$textHoverColor: #4157a6;
$linkColor: #4157a6;
$accentColor: darkgreen;

$buttonHoverColor: #4157a6;
$buttonTextHoverColor: lightgray;